sabre-service/src/main/resources/wsdl/tripSearch/stl/Lodging.1.14.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://services.sabre.com/res/or/v1_14" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://services.sabre.com/res/or/v1_14" elementFormDefault="qualified" attributeFormDefault="unqualified" jaxb:version="2.0">
    <xsd:complexType name="LodgingProductType">
        <xsd:sequence>
			<xsd:element name="ResGlobalInfo" type="ResGlobalInfoType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Rooms" type="Rooms" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="SpecialInstructions" type="SpecialInstructions" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="PaymentInformation" type="LodgingPaymentInformation" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ArrivalDepartureInformation" type="ArrivalDepartureInformation" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POS" type="LodgingPOSType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ValueAdds" type="ValueAdds" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="VoucherInformation" type="VoucherInformation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LodgingPaymentInformation">
        <xsd:sequence>
            <xsd:element name="FormOfPaymentReference">
                <xsd:complexType>
                    <xsd:attribute name="ref" type="xsd:string"/>
                    <xsd:attribute name="newRef" type="xsd:string"/>
                    <xsd:attribute name="deploymentId" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Type" type="LodgingPaymentTypeCode"/>
    </xsd:complexType>
    <xsd:simpleType name="LodgingPaymentTypeCode">
        <xsd:annotation>
            <xsd:documentation>
                Payment type can be DEPOSIT or GUARANTEE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DEPOSIT"/>
            <xsd:enumeration value="GUARANTEE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="BookingInfoRefType">
        <xsd:sequence>
			<xsd:element name="BookingKey" type="SabreKeyType" minOccurs="0"/>
			<xsd:element name="BookingRef" type="LodgingBookingSearchRef" minOccurs="0"/>
			<xsd:element name="CancellationReason" type="xsd:string" minOccurs="0"/>
            <xsd:element name="HotelReservationIds" type="HotelReservationIds" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="Status" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>Uses STS OTA Code Table</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestorID" type="xsd:string" use="optional"/>
        <xsd:attribute name="CorpDiscount" type="MembershipIdType" use="optional"/>
        <xsd:attribute name="PromotionalCode" type="MembershipIdType" use="optional"/>
        <xsd:attribute name="CreationDate" type="xsd:date" use="optional"/>
        <xsd:attribute name="ExistingItinerary" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="InfoSource" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Booking source will be 3 character numeric code
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RateKey" type="SabreKeyType" use="optional"/>
        <xsd:attribute name="TransactionId" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>This is unique transaction id generated by hotels and should be provided on retries.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RetransmissionIndicator" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="Email" type="xsd:string" use="optional"/>
        <xsd:attribute name="FrequentFlyerNumber" type="MembershipIdType" use="optional"/>
        <xsd:attribute name="LoyaltyId" type="MembershipIdType" use="optional"/>
        <xsd:attribute name="PartialCancelAllowed" type="xsd:boolean" use="optional"/>
        <!-- Remove internal for orr
        <xsd:attribute name="TransactionType" type="TransactionType" use="optional"/>
        -->
		<!-- remove internal for orr
        <xsd:attribute name="Action" type="UpdateActionCode" use="optional"/>

        <xsd:attribute name="LastOperation" type="LastOperationType" use="optional"/>
        -->
    </xsd:complexType>
	<xsd:complexType name="LodgingBookingSearchRef">
		<xsd:annotation>
			<xsd:documentation>Basic Element for representing Basic booking reference search Criteria</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="InfoSource" type="xsd:string" use="required"/>
		<xsd:attribute name="Email" type="xsd:string" use="optional"/>
		<xsd:attribute name="LastName" type="xsd:string" use="optional"/>
		<xsd:attribute name="CreationDate" type="xsd:dateTime" use="optional"/>
		<xsd:attribute name="StayStartDate" type="xsd:dateTime" use="optional"/>
		<xsd:attribute name="StayEndDate" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="RateKey" type="SabreKeyType" use="optional"/>
    </xsd:complexType>
	<xsd:complexType name="LodgingAddressType">
        <xsd:annotation>
            <xsd:documentation>Used For Address Information</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AddressLine1" type="xsd:string"/>
            <xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CityName" type="CityCodeType" minOccurs="0"/>
            <xsd:element name="StateProv" type="StateProv" minOccurs="0"/>
            <xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CountryName" type="CountryName"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CountryName">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="Code" type="CountryCodeType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="CountryCodeType">
        <xsd:annotation>
            <xsd:documentation>2 Character Country Code</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="StateProv">
        <xsd:annotation>
            <xsd:documentation>State name with code</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="StateCode" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="MembershipIdType">
        <xsd:annotation>
            <xsd:documentation>Should only be one ID per reservation</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ArrivalDepartureInformation">
        <xsd:annotation>
            <xsd:documentation>Arrival/Departure Information</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ArrivalFlight" minOccurs="0">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="FlightInformation"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DepartureFlight" type="FlightInformation" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="ArrivalTime" type="xsd:time" use="optional"/>
        <xsd:attribute name="DepartureTime" type="xsd:time" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="FlightInformation">
        <xsd:sequence>
            <xsd:element name="Carrier">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FlightNumber">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Rooms">
        <xsd:annotation>
            <xsd:documentation>List of Extended Rooms. Used in response</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Room" type="RoomInformation" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="NumberOfRooms" type="xsd:int" use="optional"/>
		<xsd:attribute name="GuestCount" type="xsd:int" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="RoomInformation">
        <xsd:complexContent>
            <xsd:extension base="BasicRoom">
                <xsd:sequence>
                    <xsd:element name="Guests" type="Guests" minOccurs="0"/>
                    <xsd:element name="RoomDescription" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
                            </xsd:sequence>
                            <xsd:attribute name="Name" type="xsd:string" use="optional"/>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="RoomExtras" type="RoomExtras" minOccurs="0"/>
                    <xsd:element name="ConfirmationCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Room level Booking Confirmation Code if it exists</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CancellationCode" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Room Level Cancellation Code if it exists</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BookingStatus" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Room Level Booking Status</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RatePlan" type="RatePlanType" minOccurs="0"/>
                    <xsd:element name="ValueAdds" type="ValueAdds" minOccurs="0"/>
                    <xsd:element name="SpecialInstructions" type="SpecialInstructions" minOccurs="0"/>
					<xsd:element name="SearchParameters" type="LodgingSearchParameters" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute name="RoomTypeCode" type="xsd:string" use="optional"/>
                <xsd:attribute name="RoomType" type="xsd:string" use="optional"/>
                <xsd:attribute name="InvBlockCode" type="xsd:string" use="optional"/>
                <xsd:attribute name="RoomCategory" type="xsd:string" use="optional"/>
                <xsd:attribute name="RoomId" type="xsd:string" use="optional"/>
                <xsd:attribute name="SegmentNumber" type="xsd:int" use="optional"/>
                <xsd:attribute name="Floor" type="xsd:string" use="optional"/>
                <xsd:attribute name="RoomViewCode" type="xsd:string" use="optional"/>
                <xsd:attribute name="SharedRoomInd" type="xsd:boolean" use="optional"/>
                <xsd:attribute name="GuestRoomInfo" type="OTACodeType" use="optional"/>
                <xsd:attribute name="Action" type="UpdateActionCode" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
	<xsd:complexType name="LodgingSearchParameters">
		<xsd:annotation>
			<xsd:documentation>Optional Parameters for future enhancements</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SearchParameter" type="AttributeType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="RatePlanType">
        <xsd:annotation>
            <xsd:documentation>Describes a rate plan in response</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RatePlanDescription" type="RatePlanDescriptionType" minOccurs="0"/>
            <xsd:element name="RatePlanInclusions" type="RatePlanInclusionsType" minOccurs="0"/>
            <xsd:element name="MealsIncluded" type="MealsIncludedType" minOccurs="0"/>
            <xsd:element name="RateInfo" type="RateInfoType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="RatePlanName" type="xsd:string" use="optional"/>
        <xsd:attribute name="RatePlanCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="SupplierRatePlanCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="RatePlanType" type="xsd:string" use="optional"/>
        <xsd:attribute name="PrepaidIndicator" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="RateAssured" type="xsd:string" use="optional"/>
        <xsd:attribute name="RateKey" type="SabreKeyType" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="RatePlanDescriptionType">
        <xsd:annotation>
            <xsd:documentation>Rate plan description</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatePlanInclusionDescriptionType">
        <xsd:annotation>
            <xsd:documentation>Rate Plan Inclusion Description</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="Name" type="xsd:string" use="optional"/>
        <xsd:attribute name="Code" type="OTACodeType" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="RatePlanInclusionsType">
        <xsd:annotation>
            <xsd:documentation>A List of Rate Plan Inclusions</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RatePlanInclusionDescription" type="RatePlanInclusionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MealIncludedType">
        <xsd:annotation>
            <xsd:documentation>Defines which meals are included with this rate program</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="Breakfast" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="Lunch" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="Dinner" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="MealPlanIndicator" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation>When true Meal Plan is included.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MealPlanCode" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>Used to Identify the types of meals included. Refer to Open Travel Code List Meal Plan Type (MPT) list of codes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GuestCount" type="xsd:int" use="optional"/>
        <xsd:attribute name="StartDate" type="xsd:date" use="optional"/>
        <xsd:attribute name="EndDate" type="xsd:date" use="optional"/>
        <xsd:attribute name="NumberOfNights" type="xsd:int" use="optional"/>
        <xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
		<xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="RateInfoType">
        <xsd:annotation>
            <xsd:documentation>Rate for a Room. Used in Response</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Rates" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="Rate">
                            <xsd:complexType>
                                <xsd:attribute name="StartDate" type="xsd:date" use="optional"/>
                                <xsd:attribute name="EndDate" type="xsd:date" use="optional"/>
                                <xsd:attribute name="AmountBeforeTax" type="MoneyDataType" use="optional"/>
                                <xsd:attribute name="AmountAfterTax" type="MoneyDataType" use="optional"/>
								<xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RatePlanDescription" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Text" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AdditionalDetails" type="AdditionalDetailsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>CheckIn Instruction Code is 8 in ADT table </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Fees" type="FeesType" minOccurs="0"/>
            <xsd:element name="Taxes" type="LodgingTaxesType" minOccurs="0"/>
            <xsd:element name="CancelPenalties" type="CancelPenalties" minOccurs="0"/>
            <xsd:element name="Guarantee" type="GuaranteeType" minOccurs="0"/>
            <xsd:element name="Commission" type="CommissionType" minOccurs="0"/>
            <xsd:element name="Discounts" type="Discounts" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="AmountBeforeTax" type="MoneyDataType" use="optional"/>
        <xsd:attribute name="AmountAfterTax" type="MoneyDataType" use="optional"/>
		<xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
        <xsd:attribute name="AppliedDiscount" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="NightlyRate" type="MoneyDataType" use="optional"/>
        <xsd:attribute name="AdditionalFeesExcludedIndicator" type="xsd:boolean" use="optional"/> <!--Not used since 19.4-->
        <xsd:attribute name="SupplierChangedAmount" type="MoneyDataType" use="optional"/>
        <xsd:attribute name="Changed" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation>Denotes that total is changed since shopping</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AdditionalFeesInclusive" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="TaxInclusive" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="LocalFeesInclusive" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="IncidentalsInclusive" type="xsd:boolean" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="MealsIncludedType">
        <xsd:sequence>
            <xsd:element name="MealIncluded" type="MealIncludedType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BasicRoom">
        <xsd:annotation>
            <xsd:documentation>Represent a Basic Room Which Can be used in Request/Response</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="NonSmoking" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="BedTypeCode" type="OTACodeType" use="optional">
            <xsd:annotation>
                <xsd:documentation>OTA Type Codes , Uses BED Table </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AccessibilityInformation" type="OTACodeType" use="optional">
            <xsd:annotation>
                <xsd:documentation>OTA Types Code, Uses PHY table </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoomIndex" type="IndexType" use="optional"/>
        <xsd:attribute name="BedTypeDescription" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>Used for NON OTA Bed Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="SabreKeyType">
        <xsd:annotation>
            <xsd:documentation>Used for Shopping/Booking Keys</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Guests">
        <xsd:annotation>
            <xsd:documentation>List of Guests for a room</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Guest" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="ResponseGuestInformation">
                            <xsd:attribute name="Type" type="OTACodeType" use="optional"/>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Count" type="xsd:int" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="ExtendedGuestInformation">
        <xsd:annotation>
            <xsd:documentation>Additional information includes contact</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicGuestInformation">
                <xsd:sequence>
                    <xsd:element name="Contact" type="ContactType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ResponseGuestInformation">
        <xsd:annotation>
            <xsd:documentation>Added Optional Full Name to Guest Information because sometimes first name/last name is not returned</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ExtendedGuestInformation">
                <xsd:attribute name="FullName" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>In response sometimes aggregator does not return first name / last name and only full name is returned</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BasicGuestInformation">
        <xsd:annotation>
            <xsd:documentation>Basic Information about Guest /Person.  Includes Lead Guest, Loyalty Id, Frequent traveler ID</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="GuestName">
                <xsd:attribute name="Email" type="EmailType" use="optional"/>
                <xsd:attribute name="Age" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>Age is mandatory for a child</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="Index" type="IndexType" use="optional"/>
                <xsd:attribute name="LeadGuest" type="xsd:boolean" use="optional" default="false">
                    <xsd:annotation>
                        <xsd:documentation>Only one lead passenger per booking </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="FrequentFlyerNumber" type="MembershipIdType" use="optional"/>
                <xsd:attribute name="LoyaltyId" type="MembershipIdType" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="RoomExtras">
        <xsd:annotation>
            <xsd:documentation>List of Room Extras</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RoomExtra" type="RoomExtra" maxOccurs="3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RoomExtra">
        <xsd:annotation>
            <xsd:documentation>For adding extras to a Room </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="Type" type="OTACodeType" use="required">
            <xsd:annotation>
                <xsd:documentation>Uses RMA OTA Table. Only 3 supported CRIB/Rollaway bed/Extra person</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>Quantity for room extras. Mandatory for request</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="GuestName">
        <xsd:annotation>
            <xsd:documentation>Represents Guest Name</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="Title" type="xsd:string" use="optional"/>
		<xsd:attribute name="FirstName" type="xsd:string" use="optional"/>
		<xsd:attribute name="LastName" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="ContactType">
        <xsd:annotation>
            <xsd:documentation>Contact information</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="Phone" type="xsd:string" use="optional"/>
        <xsd:attribute name="Mobile" type="xsd:string" use="optional"/>
        <xsd:attribute name="Fax" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="SpecialInstructions">
        <xsd:annotation>
            <xsd:documentation>All of the special instruction should be either free form or GTA Special Instruction</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="SpecialInstruction" type="SpecialInstruction" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="SpecialInstruction">
        <xsd:annotation>
            <xsd:documentation>Free Form Special Instruction, but for GTA aggregator it should be pre defined code or text</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="MembershipIDType">
        <xsd:annotation>
            <xsd:documentation>Should only be one ID per reservation</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IndexType">
        <xsd:annotation>
            <xsd:documentation>Used for room/guest indexes</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GuestType">
        <xsd:annotation>
            <xsd:documentation>Adult/Child</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ADT"/>
            <xsd:enumeration value="CHD"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EmailType">
        <xsd:annotation>
            <xsd:documentation>Email Validation</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z0-9a-z_.]*@[A-Z0-9a-z_.]*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OTACodeType">
        <xsd:annotation>
            <xsd:documentation>Positive Integer to denote OTA Codes</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="HotelReservationIds">
        <xsd:sequence>
            <xsd:element name="HotelReservation" type="HotelReservation" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HotelReservation">
        <xsd:attribute name="Id" type="xsd:string" use="required"/>
        <xsd:attribute name="Type" type="OTACodeType" use="required">
            <xsd:annotation>
                <xsd:documentation>Uses OTA Table UIT Code  [ 24 : PNR ,  40 : Confirmation Number ] </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="CityCodeType">
        <xsd:annotation>
            <xsd:documentation>City name with code</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="CityCode" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="MoneyDataType">
        <xsd:annotation>
            <xsd:documentation>Used for currency Amount</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ResGlobalInfoType">
        <xsd:annotation>
            <xsd:documentation>Reservation Information</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="BookingInfo" type="BookingInfoRefType" minOccurs="0"/>
            <xsd:element name="HotelInfo" type="HotelInfoType" minOccurs="0"/>
            <xsd:element name="StayDateRange" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="StartDate" type="xsd:date" use="optional"/>
                    <xsd:attribute name="EndDate" type="xsd:date" use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Total" type="TotalCharges" minOccurs="0"/>
            <xsd:element name="AdditionalDetails" type="AdditionalDetailsType" minOccurs="0"/>
			<xsd:element name="Fees" type="FeesType" minOccurs="0"/>
            <xsd:element name="Taxes" type="LodgingTaxesType" minOccurs="0"/>
            <xsd:element name="CancelPenalties" type="CancelPenalties" minOccurs="0"/>
            <xsd:element name="Guarantee" type="GuaranteeType" minOccurs="0"/>
            <xsd:element name="Commission" type="CommissionType" minOccurs="0"/>
            <xsd:element name="Discounts" type="Discounts" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HotelInfoType">
        <xsd:annotation>
            <xsd:documentation>Basic Property Information</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TierLabels" type="TierLabels" minOccurs="0"/>
            <xsd:element name="LocationInfo" type="LocationInfo" minOccurs="0"/>
            <xsd:element name="Amenities" type="Amenities" minOccurs="0"/>
            <xsd:element name="PropertyTypeInfo" type="PropertyTypeInfo" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="HotelCode" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>Hotel Id from SABRE hotels platform</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeContext" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="SABRE"/>
                    <xsd:enumeration value="GLOBAL"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="GlobalChainCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="HotelName" type="xsd:string" use="optional"/>
        <xsd:attribute name="BrandCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="SabreRating" type="RatingType" use="optional"/>
        <xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
        <xsd:attribute name="ChainName" type="StringLength0to500" use="optional"/>
        <xsd:attribute name="BrandName" type="StringLength0to500" use="optional"/>
        <xsd:attribute name="SupplierChainCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="SourceHotelCode" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>Supplier/Source Hotel Id</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Ordinal" type="xsd:int" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="TierLabels">
        <xsd:sequence>
            <xsd:element name="TierLabel" maxOccurs="5">
                <xsd:complexType>
                    <xsd:attribute name="Type" type="StringLength0to500" use="optional"/>
                    <xsd:attribute name="Value" type="StringLength0to500" use="optional"/>
                    <xsd:attribute name="ProgramId" type="xsd:string" use="optional"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LocationInfo">
        <xsd:annotation>
            <xsd:documentation>Hotel Location</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="Address" type="LodgingAddressType" minOccurs="0"/>
            <xsd:element name="Contact" type="ContactType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="Latitude" type="xsd:string" use="optional"/>
        <xsd:attribute name="Longitude" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="Amenities">
        <xsd:sequence>
            <xsd:element name="Amenity" type="Amenity" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Amenity">
        <xsd:attribute name="Code" type="OTACodeType">
            <xsd:annotation>
                <xsd:documentation>
                    Uses HAC table for OTA mapped codes and description.
                    ComplimentaryInd - true : Attribute is not displayed in response as Amenity has no additional charge and it is complimentary
                    false : Amenity has additional charge and appropriately indicated
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="OTATypeDescription"/>
        <xsd:attribute name="ComplimentaryInd" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:simpleType name="OTATypeDescription">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Used for Character Strings, length 0 to 255.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="PropertyTypeInfo">
        <xsd:sequence>
            <xsd:element name="PropertyType" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>
                            Uses PCT table for code and description.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:attribute name="Code" type="OTACodeType" use="optional"/>
                    <xsd:attribute name="Description" type="OTATypeDescription" use="optional"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="RatingType">
        <xsd:annotation>
            <xsd:documentation>Single Decimal value for rating</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="TotalCharges">
        <xsd:annotation>
            <xsd:documentation>Describes Total and various charge for the trip</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="AmountAfterTax" type="MoneyDataType" use="optional" default="0.00"/>
        <xsd:attribute name="AmountBeforeTax" type="MoneyDataType" use="optional"/>
        <xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional" default="USD"/>
        <xsd:attribute name="Changed" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation>Denotes that total is changed since shopping</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BalanceAmount" type="MoneyDataType" use="optional">
            <xsd:annotation>
                <xsd:documentation>Some aggregators return a balance amount that needs to be paid after cancellation</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplierChangedAmount" type="MoneyDataType" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="AdditionalDetailType">
        <xsd:annotation>
            <xsd:documentation>Use for free text relating to check-in/check-out, surcharge and other details. Uses OTA ADT Table in Code Attribute</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Code" type="OTACodeType" use="optional"/>
        <xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
        <xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
        <xsd:attribute name="GuestCount" type="xsd:int" use="optional"/>
        <xsd:attribute name="StartDate" type="xsd:date" use="optional"/>
        <xsd:attribute name="EndDate" type="xsd:date" use="optional"/>
        <xsd:attribute name="NumberOfNights" type="xsd:int" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="AdditionalDetailsType">
        <xsd:annotation>
            <xsd:documentation>List of additional Detail</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AdditionalDetail" type="AdditionalDetailType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FeesType">
        <xsd:annotation>
            <xsd:documentation>List of Hotel Fees</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="Fee" type="LodgingFeeType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
        <xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="LodgingTaxesType">
        <xsd:sequence>
            <xsd:element name="Tax" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TaxDescription">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Text" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="Code" type="xsd:positiveInteger"/>
                    <xsd:attribute name="Amount" type="MoneyDataType"/>
					<xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Code" type="OTACodeType" use="optional">
            <xsd:annotation>
                <xsd:documentation>OpenTravel Code List Fee Tax Type (FIT)</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
        <xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="CancelPenalties">
        <xsd:annotation>
            <xsd:documentation>List of Cancel Penalties</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="CancelPenalty" type="CancelPenalty" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CancelPenalty">
        <xsd:annotation>
            <xsd:documentation>Description Of cancel Penalty</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Deadline" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="AbsoluteDeadline" type="xsd:dateTime" use="optional"/>
                    <xsd:attribute name="OffsetDropTime" type="xsd:string" use="optional"/>
                    <xsd:attribute name="OffsetTimeUnit" type="xsd:string" use="optional"/>
                    <xsd:attribute name="OffsetUnitMultiplier" type="xsd:string" use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AmountPercent" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="TaxInclusive" type="xsd:boolean" use="optional"/>
                    <xsd:attribute name="FeesInclusive" type="xsd:boolean" use="optional"/>
                    <xsd:attribute name="NmbrOfNights" type="xsd:int" use="optional"/>
                    <xsd:attribute name="BasisType" type="xsd:string" use="optional"/>
                    <xsd:attribute name="Percent" type="Percentage" use="optional"/>
                    <xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
                    <xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
                    <xsd:attribute name="ApplyAs" type="xsd:string" use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PenaltyDescription" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Text" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Refundable" type="xsd:boolean" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="GuaranteeType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="GuaranteesAccepted" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="GuaranteeAccepted" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="PaymentCards" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="PaymentCard" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation xml:lang="en">The Card like Credit card or debit card
                                                            which is used to pay
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:complexType>
                                                        <xsd:simpleContent>
                                                            <xsd:extension base="xsd:string">
                                                                <xsd:attribute name="CardCode" type="PaymentCardCodeType" use="required">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">Code identifying the card type
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:attribute>
                                                            </xsd:extension>
                                                        </xsd:simpleContent>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="PaymentCard" minOccurs="0">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">Not used since 19.4</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:string">
                                                    <xsd:attribute name="CardCode" type="PaymentCardCodeType" use="required">
                                                        <xsd:annotation>
                                                            <xsd:documentation xml:lang="en">Code identifying the card type
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:attribute>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="GuaranteeTypeCode" type="OTACodeType">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            Uses OTA for PMT Table.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Deadline" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="AbsoluteDeadline" type="xsd:string" use="optional"/>
                    <xsd:attribute name="OffsetTimeUnit" type="xsd:string" use="optional"/>
                    <xsd:attribute name="OffsetUnitMultiplier" type="xsd:string" use="optional"/>
                    <xsd:attribute name="OffsetDropTime" type="xsd:string" use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AmountPercent" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="TaxInclusive" type="xsd:boolean" use="optional"/>
                    <xsd:attribute name="FeesInclusive" type="xsd:boolean" use="optional"/>
                    <xsd:attribute name="NmbrOfNights" type="xsd:int" use="optional"/>
                    <xsd:attribute name="BasisType" type="xsd:string" use="optional"/>
                    <xsd:attribute name="Percent" type="Percentage" use="optional"/>
                    <xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
                    <xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="required"/>
                    <xsd:attribute name="ApplyAs" type="xsd:string" use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GuaranteeDescription" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Text" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="GuaranteeType" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:simpleType name="PaymentCardCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The 2 digit code that identifies the credit card.</xsd:documentation>
        </xsd:annotation>
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="UpperCaseAlphaLength1to2">
                    <xsd:enumeration value="AX">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">American Express</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="BC">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Bank Card</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="BL">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Carte Bleu</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="CB">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Carte Blanche</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="DN">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Diners Club</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="DS">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Discover Card</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="EC">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Eurocard</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="JC">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Japanese Credit Bureau Credit Card</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="MA">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Maestro</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="MC">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Master Card</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="TP">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Universal Air Travel Card</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="VI">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Visa</xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This is intended to be used when the above enumeration list does not meet your needs. </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="UpperCaseAlphaLength1to2"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:complexType name="CommissionType">
        <xsd:annotation>
			<xsd:documentation>Used for explaining commission on response</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="CommissionDescription" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Text" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="CommissionIndicator" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="Percent" type="Percentage" use="optional"/>
        <xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
        <xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
        <xsd:attribute name="Type" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>Type will be None Or Variable</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="Percentage">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Specifies a percentage, max 2 decimals.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Discounts">
        <xsd:annotation>
            <xsd:documentation>List of Discount</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Discount" type="Discount" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Discount">
        <xsd:annotation>
            <xsd:documentation>Describes Discount in room rate</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="Code" type="xsd:string" use="optional"/>
        <xsd:attribute name="Name" type="xsd:string" use="optional"/>
        <xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
        <xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="ValueAdds">
        <xsd:sequence>
            <xsd:element name="ValueAdd" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Text" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VoucherInformation">
        <xsd:sequence>
            <xsd:element name="VoucherAttributes" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="VoucherAttribute" type="AttributeType" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="VoucherDetails" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="VoucherDetail" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Text" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="OfficialSupplierName" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:simpleType name="UpdateActionCode">
        <xsd:annotation>
            <xsd:documentation>Action Code For Update</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CREATE"/>
            <xsd:enumeration value="CANCEL"/>
            <xsd:enumeration value="MODIFY"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LodgingCurrencyCodeType">
        <xsd:annotation>
            <xsd:documentation>Currency Code</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="AttributeType">
        <xsd:annotation>
            <xsd:documentation>Used for passing Name Value Pair</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="Type" type="xsd:string" use="required"/>
        <xsd:attribute name="Value" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:simpleType name="StringLength0to500">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Used for Character Strings, length 0 to 500.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="500"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UpperCaseAlphaLength1to2">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Used for an Alpha String, length 1 to 2 (for letter codes).</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{1,2}"/>
        </xsd:restriction>
    </xsd:simpleType>
	<xsd:complexType name="LodgingFeeType">
		<xsd:annotation>
			<xsd:documentation>Single Fee</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FeeDescription" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Code" type="OTACodeType" use="optional">
			<xsd:annotation>
				<xsd:documentation>OpenTravel Code List Fee Tax Type (FIT)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Amount" type="MoneyDataType" use="optional"/>
		<xsd:attribute name="CurrencyCode" type="LodgingCurrencyCodeType" use="optional"/>
		<xsd:attribute name="ApplyAs" type="xsd:string" use="optional"/>
		<xsd:attribute name="BasisType" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="LodgingPOSSource">
		<xsd:annotation>
			<xsd:documentation>Source Information For Point Of Sale</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="AgencyName" type="xsd:string" use="optional"/>
		<xsd:attribute name="AgentSine" type="xsd:string" use="optional"/>
		<xsd:attribute name="AgentDutyCode" type="xsd:string" use="optional"/>
		<xsd:attribute name="Lniata" type="xsd:string" use="optional"/>
		<xsd:attribute name="AgentOriginCity" type="xsd:string" use="optional"/>
		<xsd:attribute name="ISOCountryCode" type="xsd:string" use="optional"/>
		<xsd:attribute name="ISOCurrencyCode" type="xsd:string" use="optional"/>
		<xsd:attribute name="AuxPlaceOfOrigin" type="xsd:string" use="optional"/>
		<xsd:attribute name="IATAOriginatorTypeCode" type="xsd:string" use="optional"/>
		<xsd:attribute name="CreationDate" type="xsd:date" use="optional"/>
		<xsd:attribute name="CreationTime" type="xsd:time" use="optional"/>
		<xsd:attribute name="PseudoCityCode" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="LodgingPOSType">
		<xsd:annotation>
			<xsd:documentation>Point Of Sale Information</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Source" minOccurs="0">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="LodgingPOSSource">
							<xsd:sequence>
								<xsd:element name="RequestorID" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>IATA ID is mandatory for GDS Booking</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:attribute name="Type" type="OTACodeType" use="optional">
											<xsd:annotation>
												<xsd:documentation>OTA Table UIT : Value 5 for travel agency</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute name="Id" type="xsd:string" use="optional">
											<xsd:annotation>
												<xsd:documentation>Agency IATA ID</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute name="IdContext" type="xsd:string" use="optional">
											<xsd:annotation>
												<xsd:documentation>Value : IATA</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="AgencyAddress" type="LodgingAddressType" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Agency Address is mandatory for GDS Booking</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="AgencyContact" type="ContactType" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
