sabre-service/src/main/resources/wsdl/tripSearch/ts/Trip_SearchRQ_2.3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://webservices.sabre.com/triprecord" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	jaxb:version="1.0" jaxb:extensionBindingPrefixes="xjc"
	targetNamespace="http://webservices.sabre.com/triprecord" elementFormDefault="qualified">

	<xs:include schemaLocation="TR_CommonTypes_2.3.0.xsd" />

	<xs:annotation>
		<xs:documentation xml:lang="en">Trip Searches - can be
			Trip retrieve, PNR retrieve, CDI Search, PNR Search
			etc
		</xs:documentation>
		<xs:documentation xml:lang="en">Based off OTA 2007A ReadRQ
		</xs:documentation>
	</xs:annotation>

	<xs:element name="Trip_SearchRQ">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BaseTripRequest">
					<xs:sequence>
						<xs:element name="ReadRequests" minOccurs="1">
							<xs:annotation>
								<xs:documentation xml:lang="en">A grouping of Read
									Requests</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>


									<xs:element name="ReservationReadRequest" minOccurs="1" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>

												<xs:element name="LocatorCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Locator" minOccurs="1" maxOccurs="50">
																<xs:complexType>
																	<xs:attribute name="Id" use="required"
																				  type="xs:string" />
																	<xs:attribute name="Type" use="optional"
																				  type="xs:string" />
																	<xs:attribute name="CreateDate" type="xs:dateTime"
																				  use="optional" />
																	<xs:attribute name="Source" use="optional"
																				  type="xs:string">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Optional
																				attribute to define locator's source,
																				e.g. Sabre hosted airline locator or
																				booking source reference.
																			</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="DateCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="StartDate" type="xs:date" minOccurs="0" />
															<xs:element name="EndDate" type="xs:date" minOccurs="0" />
															<xs:element name="UpdateDate" type="DateCriterion" minOccurs="0" />
															<xs:element name="ReservationStartDate" type="DateCriterion" minOccurs="0" />
															<xs:element name="ReservationEndDate" type="DateCriterion" minOccurs="0" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="ReservationCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Source" type="xs:string" minOccurs="0" />
															<xs:element name="TtyAirline" type="xs:string" minOccurs="0" />
															<xs:element name="TtyGds" type="xs:string" minOccurs="0" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="SegmentCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Air" type="SegmentCriterion" minOccurs="0" />
															<xs:element name="Car" type="SegmentCriterion" minOccurs="0" />
															<xs:element name="Hotel" type="SegmentCriterion" minOccurs="0" />
															<xs:element name="Rail" type="SegmentCriterion" minOccurs="0" />
															<xs:element name="Cruise" type="SegmentCriterion" minOccurs="0" />
															<xs:element name="Insurance" type="SegmentCriterion" minOccurs="0" />
															<xs:element name="OTH" type="SegmentCriterion" minOccurs="0" />
															<xs:element name="Other" type="SegmentCriterion" minOccurs="0" />
                                                            <xs:element name="PnrStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
                											<xs:element name="Segment" type="SegmentProductCriterion" minOccurs="0" maxOccurs="5" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="TicketCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="HasBeenTicketed" type="xs:boolean" minOccurs="0" />
															<xs:element name="OnHold" type="xs:boolean" minOccurs="0" />
															<xs:element name="Ticket" minOccurs="0" maxOccurs="500">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="TicketNumber" type="StringWithMatchMode" minOccurs="0" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="EMDCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="EMD" minOccurs="0" maxOccurs="500">
																<xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="EMDNumber" type="StringWithMatchMode" minOccurs="0"/>
                                                                        <xs:element name="EMDCouponNumber" type="xs:string" minOccurs="0"/>
                                                                    </xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="NameCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Name" minOccurs="1" maxOccurs="3">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="FirstName" type="StringWithMatchMode" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Given
																					name, first name or names</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="LastName" type="StringWithMatchMode" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Family
																					name, last name.</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="Type" type="xs:string" use="optional" />
																	<xs:attribute name="Gender" type="GenderType" use="optional" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="EmailCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="EmailAddress" type="StringWithMatchMode" minOccurs="1" maxOccurs="3" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="ServiceCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Service" minOccurs="1" maxOccurs="5">
																<xs:complexType>
																	<xs:choice>
																		<xs:element name="Foid" minOccurs="1" maxOccurs="1">
																			<xs:complexType>
																				<xs:attribute name="Type" type="xs:string" use="required" />
																				<xs:attribute name="Number" type="xs:string" use="required" />
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="Generic" minOccurs="1" maxOccurs="1">
																			<xs:complexType>
																				<xs:attribute name="ServiceType" type="xs:string" use="required" />
																				<xs:attribute name="ServiceText" type="xs:string" use="optional" />
																				<xs:attribute name="MatchMode" type="MatchMode" default="EXACT" use="optional" />
																			</xs:complexType>
																		</xs:element>
																	</xs:choice>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="OperationType" type="LogicalOperationType" default="OR" use="optional" />
													</xs:complexType>
												</xs:element>

												<xs:element name="DocumentCriteria" minOccurs="0">
													<xs:annotation>
														<xs:documentation
																xml:lang="en">
															Criteria to search for PNRs that contain documents like
															passport or national identity card.
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Document" minOccurs="1" maxOccurs="5">
																<xs:annotation>
																	<xs:documentation
																			xml:lang="en">
																		Element to specify document data that will be
																		used to search for PNRs that contain such
																		documents.
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:choice>
																		<xs:element name="ExtractedDocumentNumber"
																					minOccurs="1"
																					maxOccurs="1">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="DocumentCode"
																								type="xs:string"
																								minOccurs="0"
																								maxOccurs="1"
																							>
																						<xs:annotation>
																							<xs:documentation
																									xml:lang="en">
																								Type specific document
																								code(e.g. country code
																								from passport).
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="DocumentId"
																								type="StringWithMatchMode"
																								minOccurs="1"
																								maxOccurs="1"
																							>
																						<xs:annotation>
																							<xs:documentation
																									xml:lang="en">
																								Document id (e.g.
																								passport number without
																								country code).
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="RawDocumentNumber"
																					type="StringWithMatchMode"
																					minOccurs="1"
																					maxOccurs="1">
																			<xs:annotation>
																				<xs:documentation
																						xml:lang="en">
																					Full document number with
																					type-specific document code and id.
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:attribute name="DocumentType"
																				  type="xs:string"
																				  use="required">
																	</xs:attribute>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="OperationType" type="LogicalOperationType"
																	  default="OR" use="optional" />
													</xs:complexType>
												</xs:element>

												<xs:element name="InvoiceCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Invoice" minOccurs="0" maxOccurs="5">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="InvoiceId" type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Element to define invoice id number.</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="InvoiceNumber" minOccurs="0">
																			<xs:complexType>
																				<xs:choice>
																					<xs:element name="Exact">
																						<xs:complexType>
																							<xs:attribute name="ExactNumber" type="xs:int" use="required">
																								<xs:annotation>
																									<xs:documentation xml:lang="en">Element to define invoice number assigned during invoice generation</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="Range">
																						<xs:complexType>
																							<xs:attribute name="StartNumber" type="xs:int" use="required">
																								<xs:annotation>
																									<xs:documentation xml:lang="en">Element to define start invoice number for invoice number range search.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="EndNumber" type="xs:int" use="required">
																								<xs:annotation>
																									<xs:documentation xml:lang="en">Element to define end invoice number for invoice number range search.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																				</xs:choice>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="IssueDate" type="DateCriterion" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Element to define invoice issue date or invoice issue date range.</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="DKNumber" type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">DK number.
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="TravellerName" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="LastName" type="StringWithMatchMode"  minOccurs="1">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">Element to define traveller's last name for whom invoice will be searched.</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FirstName" type="StringWithMatchMode" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation xml:lang="en">Element to define traveller's first name for whom invoice will be searched.</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="InvoiceExists" type="xs:boolean"/>
													</xs:complexType>
												</xs:element>

												<xs:element name="OsiCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Osi" minOccurs="1" maxOccurs="5">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Text" type="StringWithMatchMode" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="RemarkCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Remark" minOccurs="1" maxOccurs="5">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Text" type="StringWithMatchMode" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="ProfileCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Profile" minOccurs="1" maxOccurs="5">
																<xs:complexType>
																	<xs:attribute name="ProfileID" type="xs:string" use="required" />
																	<xs:attribute name="ProfileType" type="xs:string" use="required" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="OperationType" type="LogicalOperationType" default="OR" use="optional" />
													</xs:complexType>
												</xs:element>

												<xs:element name="TelephoneCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PhoneNumber" type="StringWithMatchMode" minOccurs="1" maxOccurs="3">
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="LoyaltyCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Loyalty" minOccurs="1" maxOccurs="3">
																<xs:complexType>
																	<xs:attribute name="ProgramID" type="xs:string" use="optional">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Identifier
																				to indicate the company owner of the loyalty
																				program.
                                      </xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="MembershipID" type="xs:string" use="optional">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">Unique
																				identifier of the member in the program (membership
																				number,
																				account number, etc.).</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="TierLevel" type="xs:string" use="optional" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="FlightCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Flight" minOccurs="1" maxOccurs="5">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="FlightNumber" type="xs:string" minOccurs="0" />
																		<xs:element name="MarketingFlightNumber" type="xs:string" minOccurs="0" />
																		<xs:element name="OperatingFlightNumber" type="xs:string" minOccurs="0" />
																		<xs:element name="DepartureAirport" type="xs:string" minOccurs="0" />
																		<xs:element name="DepartureCity" type="xs:string" minOccurs="0" />
																		<xs:element name="DepartureCountry" type="xs:string" minOccurs="0" />
																		<xs:element name="ArrivalAirport" type="xs:string" minOccurs="0" />
																		<xs:element name="ArrivalCity" type="xs:string" minOccurs="0" />
																		<xs:element name="ArrivalCountry" type="xs:string" minOccurs="0" />
																		<xs:element name="DepartureDateTime" type="DateCriterion" minOccurs="0" />
																		<xs:element name="ArrivalDateTime" type="DateCriterion" minOccurs="0" />
																		<xs:element name="AirlineCode" type="xs:string" minOccurs="0" />
																		<xs:element name="MarketingAirlineCode" type="xs:string" minOccurs="0" />
																		<xs:element name="OperatingAirlineCode" type="xs:string" minOccurs="0" />
																		<xs:element name="ClassOfService" type="xs:string" minOccurs="0" />
																		<xs:element name="CabinCode" type="xs:string" minOccurs="0" />
																		<xs:element name="StatusCode" type="xs:string" minOccurs="0" />
																		<xs:element name="NoOfPassengers" type="xs:string" minOccurs="0" />
																		<xs:element name="FilterFlownFlights" type="xs:boolean" minOccurs="0" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="PosCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Pcc" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
															<xs:element name="OfficeAccountCode" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation xml:lang="en">
																		Office Account Code
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:attribute name="OacCityCode" type="xs:string" use="required" >
																		<xs:annotation>
																			<xs:documentation xml:lang="en">
																				Identifies an OAC city code
																			</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="OacAccountCode" type="xs:string" use="required">
																		<xs:annotation>
																			<xs:documentation xml:lang="en">
																				Identifies an OAC account
																				code
																			</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="AnyBranch" type="xs:boolean" use="optional" default="false" />
														<xs:attribute name="AirlineCode" type="xs:string" use="optional" />
														<xs:attribute name="CreateCityCode" type="xs:string" use="optional" />
														<xs:attribute name="IataNumber" type="xs:string" use="optional" />
														<xs:attribute name="PrimeHost" type="xs:string" use="optional" />
													</xs:complexType>
												</xs:element>

												<xs:element name="ActionCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Action" minOccurs="1" maxOccurs="10">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ActionDue" type="DateCriterion" minOccurs="0" />
																		<xs:element name="RuleSet" type="xs:string" minOccurs="0" />
																		<xs:element name="Rule" type="xs:string" minOccurs="0" />
																		<xs:element name="Actioned" type="xs:boolean" minOccurs="0" />
																		<xs:element name="Unactioned" type="xs:boolean" minOccurs="0" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

                                                <xs:element name="DestinationCriteria" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="StartCityCode" type="xs:string" minOccurs="0" />
                                                            <xs:element name="StartDate" type="xs:date" minOccurs="0" />
                                                            <xs:element name="EndCityCode" type="xs:string" minOccurs="0" />
                                                            <xs:element name="EndDate" type="xs:date" minOccurs="0" />
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>

												<xs:element name="TokenCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Token" type="xs:string" />
															<xs:element name="Page" type="xs:int" minOccurs="0" />
															<!--<xs:element name="Parameters" type="xs:boolean" minOccurs="0"/>-->
														</xs:sequence>
													</xs:complexType>
												</xs:element>

                                                <xs:element name="ProposalCriteria" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Proposal" minOccurs="0" maxOccurs="unbounded">
                                                                <xs:complexType>
                                                                    <xs:sequence>
																		<xs:element name="Id" type="StringWithMatchMode" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Id of the proposal</xs:documentation>
																			</xs:annotation>
																		</xs:element>
                                                                        <xs:element name="Name" type="StringWithMatchMode" minOccurs="0">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="en">Name/Label of the proposal</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                        <xs:element name="Status" type="StringWithMatchMode" minOccurs="0">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="en">Status of the proposal options ex. rejected, accepted etc.</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                        <xs:element name="HasAssociatedPnr" type="xs:boolean" minOccurs="0">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="en">Is proposal associated with PNR - in other words is PNR created from proposal</xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                        <xs:element name="Owner" minOccurs="0">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="en">Owner of the proposal: created by userID/agentSign, currrent city code, created date</xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element name="UserID" type="xs:string" minOccurs="0"/>
                                                                                    <xs:element name="CurrentCity" type="xs:string" minOccurs="0"/>
                                                                                    <xs:element name="CreateDate" type="DateCriterion" minOccurs="0"/>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>

												<xs:element name="PreviousSearch" minOccurs="0">
													<xs:complexType>
														<xs:attribute name="LastLocator" type="xs:string" use="required" />
													</xs:complexType>
												</xs:element>

												<xs:element name="ResultAction" type="ResultAction" minOccurs="0" maxOccurs="1" />

												<xs:element name="ReturnOptions" minOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SubjectAreas" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="SubjectArea" type="xs:string" minOccurs="1" maxOccurs="50" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="ViewName" type="xs:string" use="required" />
														<xs:attribute name="CustomTimeout" use="optional">    <!--In milliseconds in this version-->
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:int">
                                                                    <xs:minInclusive value="1"/>
                                                                    <xs:maxInclusive value="20000"/>
                                                                </xs:restriction>
                                                            </xs:simpleType>
														</xs:attribute>
														<xs:attribute name="MaxItemsReturned" type="xs:string" use="optional" />
														<xs:attribute name="PageSize" type="xs:int" use="optional" />
														<xs:attribute name="ResponseFormat" type="xs:string" use="optional" default="OTA" />
														<xs:attribute name="SearchType" type="SearchType" use="optional" >
                                                            <xs:annotation>
                                                                <xs:documentation xml:lang="en">
                                                                    Optional attribute to define type of searching
                                                                    (ACTIVE - active pnr's only, INACTIVE - inactive pnr's only, BOTH - active and inctives pnr's).
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:attribute>

													</xs:complexType>
												</xs:element>

											</xs:sequence>

										</xs:complexType>
									</xs:element>

									<xs:element name="SabreIndexReadRequest" minOccurs="1" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="NameCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TravelerName" type="PersonNameSearchType" minOccurs="1" maxOccurs="3">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The name of
																		the traveler for whom the reservation is
																		requested.
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="EmailCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="EmailAddress" type="AlphaWithWildcard" minOccurs="1" maxOccurs="3" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="ProfileCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ProfileID" minOccurs="1" maxOccurs="5">
																<xs:complexType>
																	<xs:attributeGroup ref="ProfileIDGroup" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="OperationType" type="LogicalOperationType" use="optional" />
													</xs:complexType>
												</xs:element>
												<xs:element name="TelephoneCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Telephone" type="ParsedPhoneNumberType" minOccurs="1" maxOccurs="3">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Request a
																		reservation based on a telephone number.
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="LoyaltyCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CustLoyalty" minOccurs="1" maxOccurs="3">
																<xs:complexType>
																	<xs:attributeGroup ref="CustomerLoyaltyGroup" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="FlightCriteria" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Flight" minOccurs="0" maxOccurs="5">
																<xs:complexType>
																	<xs:attributeGroup ref="FlightSegmentAttributes_Type" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="AirlineAgencyData" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PCC" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
														</xs:sequence>
														<xs:attribute name="AnyBranch" type="xs:boolean" use="optional" default="false" />
														<xs:attribute name="AirlineCode" type="xs:string" use="optional" />
													</xs:complexType>
												</xs:element>

												<xs:element name="PreviousSearch" type="PreviousCriteriaType" minOccurs="0" />

												<xs:element name="ReturnOptions">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SubjectAreas" type="SubjectAreasType" minOccurs="0" />
														</xs:sequence>
														<xs:attribute name="ReturnViewType" type="xs:string" use="required" />
														<xs:attribute name="MaxItemsReturned" type="xs:string" use="optional" />
														<xs:attribute name="ResponseFormat" type="xs:string" use="optional" />
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attributeGroup ref="SabreIndexReadRequestAttributes_Type" />
										</xs:complexType>
									</xs:element>

									<xs:element name="GlobalReservationReadRequest" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation xml:lang="en">An individual
												Read Request for a global reservation when the
												booking
												reference is not known
                      </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TravelerName" type="PersonNameType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">The name of
															the traveler for whom the reservation is requested.
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TPA_Extensions" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PCCList" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="PCC" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
																	</xs:sequence>
																	<xs:attribute name="AnyBranch" type="xs:boolean" use="optional" default="false" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>


								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="POS_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">Point of Sale (POS) is
				the details identifying the party or connection
				channel making the
				request.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Source" type="SourceType" maxOccurs="10">
				<xs:annotation>
					<xs:documentation xml:lang="en">This holds details
						regarding the requestor. It may be repeated to also
						accommodate
						the delivery
						systems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SourceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides information on
				the source of a request.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AgentSine" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the party
					within the requesting entity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PseudoCityCode" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An identification code
					assigned to an office/agency by a reservation
					system.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirlineVendorID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The IATA assigned
					airline code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TerminalID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is the electronic
					address of the device from which information is
					entered.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="VerificationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection of data used
				to ensure the correct reservation is canceled or
				modified (e.g. in
				the case
				of a hotel reservation modification, a CustLoyalty/ MembershipID would
				be verified as part
				of the reservation
				that you plan to modify to ensure the
				correct reservation is being modified).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Email" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This provides name
				information for a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GivenName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Given name, first name
						or names</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surname" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">Family name, last name.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonNameSearchType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This provides name
				information for a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GivenName" type="AlphaWithWildcard" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Given name, first name
						or names</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surname" type="AlphaWithWildcard">
				<xs:annotation>
					<xs:documentation xml:lang="en">Family name, last name.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:attributeGroup name="SabreIndexReadRequestAttributes_Type">
		<xs:attribute name="StartDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the start Date from which the PNR are
					retrieved n UTC using the following format
					specified by ISO 8601;
					YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g.
					20 November 2003, 1:59:38
					pm UTC becomes
					2003-11-20T13:59:38Z).
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EndDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the End Date upto which the PNR are
					retrieved</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:complexType name="PreviousCriteriaType">
		<xs:attribute name="LastRecordLocator" type="xs:string" use="required" />
	</xs:complexType>
	<xs:simpleType name="RequestTypes">
		<xs:annotation>
			<xs:documentation>This value indicates the type of PNR data that is
				requested by the user </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Both" />
			<xs:enumeration value="Current" />
			<xs:enumeration value="Past" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReservationTypes">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="All" />
			<xs:enumeration value="SabrePNR" />
			<xs:enumeration value="TripRecord" />
			<xs:enumeration value="CDI" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LogicalOperationType">
		<xs:annotation>
			<xs:documentation>The profile type </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AND" />
			<xs:enumeration value="OR" />
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="FlightSegmentAttributes_Type">
		<xs:attribute name="FlightNumber" type="xs:string" use="optional" />
		<xs:attribute name="DepartureAirport" type="xs:string" use="optional" />
		<xs:attribute name="ArrivalAirport" type="xs:string" use="optional" />
		<xs:attribute name="OperatingAirline" type="xs:string" use="optional" />
		<xs:attribute name="FlightDate" type="xs:date" use="optional" />
	</xs:attributeGroup>
	<xs:complexType name="AlphaWithWildcard">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="StartsWith" type="xs:boolean" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="StringWithMatchMode">
		<xs:simpleContent>
			<xs:extension base="string1to255">
				<xs:attribute name="MatchMode" default="EXACT" type="MatchMode" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="MatchMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EXACT" />
			<xs:enumeration value="START" />
			<xs:enumeration value="END" />
			<xs:enumeration value="ANYWHERE" />
			<xs:enumeration value="SIMILAR" />
			<xs:enumeration value="EXACT_NO_COMPRESS" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DateCriterion">
		<xs:attribute name="After" type="xs:dateTime" use="optional" />
		<xs:attribute name="Before" type="xs:dateTime" use="optional" />
		<xs:attribute name="Is" type="xs:dateTime" use="optional" />
		<xs:attribute name="TimeBefore" type="timeType" use="optional" />
		<xs:attribute name="TimeAfter" type="timeType" use="optional" />
		<xs:attribute name="TimeIs" type="timeType" use="optional" />
	</xs:complexType>

	<xs:simpleType name="timeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1,2}):([0-9]{2}):{0,1}([0-9]{0,2})" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="SegmentCriterion">
		<xs:attribute name="Exists" type="xs:boolean" use="optional" />
		<xs:attribute name="MoreThan" type="xs:int" use="optional" />
		<xs:attribute name="Is" type="xs:int" use="optional" />
	</xs:complexType>

	<xs:complexType name="SegmentProductCriterion">
		<xs:sequence>
                <xs:element name="StartCityCode" type="xs:string" minOccurs="0" />
				<xs:element name="StartDateTime" type="DateCriterion" minOccurs="0" />
				<xs:element name="EndCityCode" type="xs:string" minOccurs="0" />
				<xs:element name="EndDateTime" type="DateCriterion" minOccurs="0" />
				<xs:element name="StatusCode" type="xs:string" minOccurs="0" />
				<xs:element name="Source" type="xs:string" minOccurs="0" />
				<xs:element name="Type" type="xs:string" minOccurs="0" />
				<xs:element name="VendorCode" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="NameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADULT" />
			<xs:enumeration value="CORP" />
			<xs:enumeration value="ZNAME" />
			<xs:enumeration value="GROUP" />
			<xs:enumeration value="INFANT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="GenderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="F" />
			<xs:enumeration value="M" />
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="SearchType" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE" />
            <xs:enumeration value="INACTIVE" />
            <xs:enumeration value="BOTH" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
